
body.index{
    font-family:sans-serif;
    }
  h1.index{font-family: Geneva;
    color: rgb(77, 9, 142);
}
footer{
    font-size: 20px;
    background-color: rgb(192, 184, 184);
     text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
header.neighboorhood{
    background-color: rgb(178, 174, 174)
    }

    nav { 
        background:yellow;
        font-size: 20px;
        }

        main{
         display:block;
        background-color: yellow;
        width: 67%;
        }

    ul {  display: inline-flexbox;
         background-color: rgb(139, 219, 219);
        }

    li {
        display: inline-block;
        width: 5;
        margin-right: 250px; 
        
     }

     h1{
    color: rgb(28, 28, 110);
    font-family: Haettenschweiler;
     text-align: center;
    }
    
    div{
    border-color: yellow; 
    }

    footer{
    font-size: 20px;
    background-color: rgb(192, 184, 184);
     text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
.index,
p{
    line-height:20px;
    text-align: justify;
}
main{
    background-color: grey;
    font-size: 60;

}
header,nav.park{
    background-color: rgb(178, 174, 174);
}
main,div.park{

    background-color: rgb(183, 18, 150);
}

footer{
    font-size: 20px;
    background-color: rgb(192, 184, 184);
     text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }